In [1]:
import pandas as pd

In [15]:
df=pd.read_csv("June 2020.csv")
dff=df.iloc[1,1:]
dff.fillna(0,inplace=True)
initial=dff[0]
for i in range(1,len(dff)):
    if dff[i]==0:
        dff[i]=initial
    else:
        initial=dff[i]   
    dff[i]=dff[i].replace("(","").replace(")","").replace("/",'').strip().replace("  ","_")
    dff[i]=dff[i].replace(" ","_")
dff.fillna(0,inplace=True)
dff=df.iloc[0,1:]
dff

PAYMENT TRANSACTIONS        RBI Operated
PAYMENT TRANSACTIONS.1      RBI Operated
PAYMENT TRANSACTIONS.2      RBI Operated
PAYMENT TRANSACTIONS.3      RBI Operated
PAYMENT TRANSACTIONS.4     NPCI Operated
PAYMENT TRANSACTIONS.5     NPCI Operated
PAYMENT TRANSACTIONS.6     NPCI Operated
PAYMENT TRANSACTIONS.7     NPCI Operated
PAYMENT TRANSACTIONS.8     NPCI Operated
PAYMENT TRANSACTIONS.9     NPCI Operated
PAYMENT TRANSACTIONS.10    NPCI Operated
PAYMENT TRANSACTIONS.11    NPCI Operated
PAYMENT TRANSACTIONS.12    NPCI Operated
PAYMENT TRANSACTIONS.13    NPCI Operated
PAYMENT TRANSACTIONS.14    NPCI Operated
PAYMENT TRANSACTIONS.15    NPCI Operated
PAYMENT TRANSACTIONS.16    NPCI Operated
PAYMENT TRANSACTIONS.17    NPCI Operated
PAYMENT TRANSACTIONS.18    NPCI Operated
PAYMENT TRANSACTIONS.19    NPCI Operated
CASH WITHDRAWAL            NPCI Operated
CASH WITHDRAWAL.1          NPCI Operated
CASH WITHDRAWAL.2          NPCI Operated
CASH WITHDRAWAL.3          NPCI Operated
Name: 0, dtype: object

In [14]:
dff.info()

<class 'pandas.core.series.Series'>
Index: 24 entries, PAYMENT TRANSACTIONS to CASH WITHDRAWAL.3
Series name: 0
Non-Null Count  Dtype
--------------  -----
24 non-null     object
dtypes: object(1)
memory usage: 940.0+ bytes